body{ background:#031F34 !important;}
#bg{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("http://teamskeetimages.com/design/tour/ts/bg/bg_ts_main_new.jpg");
	background-origin: padding-box;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto auto;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.container{
	width:1150px !important;
}
.top-girls{
	padding:3px;
	background:#fff;
	margin-bottom:7px;
	display:block;
}
span.girls-info{					
	background: none repeat scroll 0 0 #F2F2F2;
	bottom: 10px;
	color: #888888;
	height: 30px;
	left: 18px;
	padding: 5px 10px;
	position: absolute;
	width: 250px;
}
.top-girls:hover .girls-info{display:none !important;}	

#logo {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
 
  position: absolute;
  right: 115px;
  
  top: 420px;
  z-index:1000;
}
.page-header{
	margin-top:10px !important;
	padding:10px 20px !important;
	margin-bottom:0 !important;
	border-bottom:0;
}
.page-content{
	background:#202020;
	min-height:100px;
	border-left:4px solid #3F444A;
	border-right:4px solid #3F444A;
	border-bottom:4px solid #3F444A;
	text-align:center;
}
footer{
	min-height:50px;
	margin-top:10px;
}
.content{
	padding:30px 10px 10px;
	width:100%;
}
.content-left{ float:left; width:20%; height:100% auto;min-height:100px;}
.content-right{ float:left; width:80%; background:#474545; height:100% auto; min-height:100px; text-align:left; padding:20px; }
.content-left span{padding:10px; display:block;}
.content-right span{font-size:18px; color :#fff; display:block; padding:5px;}

.clear{clear:both;}
.content-footer{ padding:0 10px;}
ul.pagination{margin:0 5px 10px;}
.girl-gallery, .scene-gallery{
	display:inline-block;
	padding:3px;
	background:#fff;
	margin:5px;
}
.scene-gallery span{
	display:block;
}
.girl-gallery span.girl-info{
	display:inline-block;
	color:#888;
	width:150px;
	vertical-align:top;
	text-align:right;
	padding:5px 10px;
}
.scene-info{
	background:#f2f2f-info2;
	padding:5px;
	color:#888;
	text-align:left;
}
.scene-info a{
	color:#057897;
}
.scene-info span{
	color:#888 !important;
	font-size:14px;
}
.girl-gallery a{
	color:#057897;
	display:block;
}
.girl-info{ padding-top:10px; }
.girl-info span{display:block;}

.col-left, .col-right{
	padding-left:0;
	padding-right:0;
	float:left;
}
.col-left{width:73%;}
.col-right{width:27%; height:auto 100%;}